body {
    background-color: DimGray;
}

/* header */
header {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1000;
    background: DarkSlateGray;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header__img {
    height: 64px;
    width: 64px;
}